body {
    background-color: white;
    font-family: 'Roboto Slab';
    font-size: 1.2em;
    color: #222;
    margin: auto;
    width: 800px;
}

@media (max-width: 800px) {

  body {
    width: initial;
    padding: 20px;
  }
}

h1 {
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}

h2, h3 {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

h2 {
  line-height: 1.75em;
  font-size: 1.2em;
}

h3 {
  line-height: 1em;
  font-size: 1em;
}

main p {
  line-height: 1.5em;
  text-align: justify;
}

a, a:visited, a:active {
  color: #337ab7;
}

hr {
  border: none;
  border-top: 3px double #ddd;
  margin: 0 20%;
}

header, footer {
  text-align: center;
}
